html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#C3BF6D, #C3BF6D);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.btn-custom-danger {
  background: linear-gradient(to right, #CE8D66, #C3BF6D);
  color: none;
  border: none;
}

.login-box {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  z-index: 1;
  color: #fff;
  text-align: center;
}


footer {
  margin-top: auto;
}



